In [17]:
import pandas as pd

In [18]:
import numpy as np

In [19]:
import json
from pandas.io.json import json_normalize

In [8]:
# load json as string
sample_json_s = json.load((open('data/world_bank_projects.json')))
sample_json_n = json_normalize(sample_json_s)
sample_json_n.head(2)

,_id.$oid,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,source,status,supplementprojectflg,theme1.Name,theme1.Percent,theme_namecode,themecode,totalamt,totalcommamt,url
0,52b213b38594d8a2be17c780,1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,IBRD,Active,N,Education for all,100,"[{'name': 'Education for all', 'code': '65'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,52b213b38594d8a2be17c781,2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,IBRD,Active,N,Other economic management,30,"[{'name': 'Other economic management', 'code':...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en

In [9]:
# load as Pandas dataframe
sample_json_df = pd.read_json('data/world_bank_projects.json')
sample_json_df.head(2)

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Percent': 100, 'Name': 'Education for all'}","[{'name': 'Education for all', 'code': '65'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Percent': 30, 'Name': 'Other economic manage...","[{'name': 'Other economic management', 'code':...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en

## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,

* Find the 10 countries with most projects
* Find the top 10 major project themes (using column 'mjtheme_namecode')
* In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

## Answer 1

In [6]:
s = sample_json_df.countryshortname
#s[s.isnull()]
#s.head()
s.value_counts().head(10)
#d = s.value_counts()[:10]
#d = s.value_counts()[0:10]
#d

Indonesia             19
China                 19
Vietnam               17
India                 16
Yemen, Republic of    13
Nepal                 12
Bangladesh            12
Morocco               12
Mozambique            11
Africa                11
Name: countryshortname, dtype: int64

In [7]:
a = sample_json_df[['countryshortname', 'project_name']]
a.head()

     countryshortname                                       project_name
0            Ethiopia  Ethiopia General Education Quality Improvement...
1             Tunisia          TN: DTF Social Protection Reforms Support
2              Tuvalu  Tuvalu Aviation Investment Project - Additiona...
3  Yemen, Republic of   Gov't and Civil Society Organization Partnership
4             Lesotho  Second Private Sector Competitiveness and Econ...

In [8]:
b = a.groupby('countryshortname').agg([pd.Series.nunique])
b.sort_values(by = [('project_name', 'nunique')], ascending = False).head(10)

                   project_name
                        nunique
countryshortname
China                        19
Indonesia                    19
Vietnam                      17
India                        16
Yemen, Republic of           13
Nepal                        12
Bangladesh                   12
Morocco                      12
Mozambique                   11
Africa                       11

## Answer 2

In [99]:
#for r in themename.iterrows(): print(r[1][0], r[1][1])

In [100]:
#for index, row in themename.iterrows(): print(row['code'], row['name'])

In [103]:
dj = pd.DataFrame()
for s in sample_json_df.mjtheme_namecode:
    for r in s:
        j = json_normalize(r)
        dj = pd.concat([dj, j])
djl = dj.groupby(['name','code'])['code','name'].count().sort_values('code',ascending=False).drop('name',1).rename(columns={'code':'count'}).reset_index('name')
djl.head()

                                              name  count
code
11    Environment and natural resources management    223
10                               Rural development    202
8                                Human development    197
2                         Public sector governance    184
6            Social protection and risk management    158

In [104]:
#djl = djl[djl['name'] != ""] #remove rows with empty project name
djs = djl[djl.name != ""]
djs.head(10)

                                              name  count
code
11    Environment and natural resources management    223
10                               Rural development    202
8                                Human development    197
2                         Public sector governance    184
6            Social protection and risk management    158
4         Financial and private sector development    130
7                      Social dev/gender/inclusion    119
5                            Trade and integration     72
9                                Urban development     47
1                              Economic management     33

## Answer 3

In [98]:
djl #from Answer 2

                                              name  count
code
11    Environment and natural resources management    223
10                               Rural development    202
8                                Human development    197
2                         Public sector governance    184
6            Social protection and risk management    158
4         Financial and private sector development    130
7                      Social dev/gender/inclusion    119
5                            Trade and integration     72
9                                Urban development     47
1                              Economic management     33
11                                                     27
4                                                      16
2                                                      15
10                                                     14
8                                                      13
3                                      Rule of law     12
7                                                      11
6                                                      10
5                                                       5
1                                                       5
9                                                       3
3                                                       3

In [109]:
missing = dj.name == ""
missing

0    False
0     True
0    False
0    False
0    False
0    False
0    False
0    False
0    False
0    False
0    False
0    False
0    False
0     True
0    False
0    False
0    False
0     True
0    False
0     True
0    False
0    False
0    False
0    False
0     True
0    False
0    False
0    False
0    False
0     True
     ...
0    False
0    False
0    False
0    False
0    False
0    False
0    False
0    False
0     True
0    False
0    False
0    False
0     True
0    False
0     True
0    False
0    False
0    False
0    False
0    False
0    False
0    False
0     True
0    False
0    False
0    False
0    False
0    False
0    False
0    False
Name: name, dtype: bool

In [110]:
for val in enumerate(missing):
    print(val)

(0, False)
(1, True)
(2, False)
(3, False)
(4, False)
(5, False)
(6, False)
(7, False)
(8, False)
(9, False)
(10, False)
(11, False)
(12, False)
(13, True)
(14, False)
(15, False)
(16, False)
(17, True)
(18, False)
(19, True)
(20, False)
(21, False)
(22, False)
(23, False)
(24, True)
(25, False)
(26, False)
(27, False)
(28, False)
(29, True)
(30, False)
(31, False)
(32, False)
(33, False)
(34, False)
(35, False)
(36, False)
(37, False)
(38, False)
(39, False)
(40, True)
(41, False)
(42, True)
(43, False)
(44, False)
(45, False)
(46, False)
(47, False)
(48, False)
(49, False)
(50, False)
(51, False)
(52, False)
(53, False)
(54, False)
(55, False)
(56, False)
(57, False)
(58, False)
(59, False)
(60, False)
(61, False)
(62, False)
(63, False)
(64, False)
(65, False)
(66, False)
(67, False)
(68, False)
(69, False)
(70, False)
(71, False)
(72, False)
(73, False)
(74, False)
(75, False)
(76, False)
(77, False)
(78, False)
(79, False)
(80, True)
(81, False)
(82, False)
(83, False)
(84, False)
(85, False)
(86, False)
(87, False)
(88, False)
(89, False)
(90, False)
(91, False)
(92, False)
(93, False)
(94, False)
(95, False)
(96, False)
(97, False)
(98, True)
(99, False)
(100, True)
(101, False)
(102, False)
(103, False)
(104, False)
(105, False)
(106, False)
(107, True)
(108, False)
(109, False)
(110, False)
(111, False)
(112, False)
(113, False)
(114, False)
(115, False)
(116, False)
(117, True)
(118, False)
(119, True)
(120, False)
(121, True)
(122, False)
(123, False)
(124, False)
(125, False)
(126, False)
(127, True)
(128, False)
(129, False)
(130, False)
(131, False)
(132, False)
(133, False)
(134, True)
(135, False)
(136, False)
(137, False)
(138, False)
(139, False)
(140, False)
(141, False)
(142, False)
(143, False)
(144, False)
(145, False)
(146, False)
(147, False)
(148, False)
(149, False)
(150, False)
(151, False)
(152, False)
(153, False)
(154, False)
(155, False)
(156, False)
(157, False)
(158, False)
(159, False)
(160, False)
(161, False)
(162, False)
(163, False)
(164, False)
(165, True)
(166, False)
(167, False)
(168, False)
(169, False)
(170, False)
(171, True)
(172, False)
(173, True)
(174, False)
(175, False)
(176, False)
(177, False)
(178, False)
(179, False)
(180, False)
(181, False)
(182, False)
(183, False)
(184, False)
(185, True)
(186, False)
(187, True)
(188, False)
(189, False)
(190, False)
(191, False)
(192, False)
(193, False)
(194, False)
(195, False)
(196, False)
(197, True)
(198, False)
(199, False)
(200, False)
(201, True)
(202, False)
(203, False)
(204, False)
(205, False)
(206, False)
(207, False)
(208, False)
(209, False)
(210, True)
(211, False)
(212, True)
(213, False)
(214, False)
(215, False)
(216, False)
(217, True)
(218, False)
(219, False)
(220, False)
(221, False)
(222, False)
(223, False)
(224, False)
(225, False)
(226, False)
(227, False)
(228, False)
(229, False)
(230, True)
(231, False)
(232, True)
(233, True)
(234, False)
(235, True)
(236, False)
(237, False)
(238, False)
(239, False)
(240, True)
(241, False)
(242, True)
(243, False)
(244, False)
(245, False)
(246, False)
(247, False)
(248, False)
(249, False)
(250, False)
(251, False)
(252, False)
(253, False)
(254, False)
(255, False)
(256, False)
(257, False)
(258, False)
(259, False)
(260, False)
(261, False)
(262, False)
(263, False)
(264, False)
(265, False)
(266, False)
(267, False)
(268, False)
(269, False)
(270, False)
(271, False)
(272, False)
(273, False)
(274, False)
(275, True)
(276, True)
(277, True)
(278, False)
(279, False)
(280, False)
(281, False)
(282, False)
(283, False)
(284, False)
(285, False)
(286, False)
(287, False)
(288, False)
(289, False)
(290, False)
(291, False)
(292, False)
(293, False)
(294, False)
(295, False)
(296, False)
(297, True)
(298, False)
(299, False)
(300, False)
(301, False)
(302, False)
(303, False)
(304, False)
(305, False)
(306, False)
(307, False)
(308, False)
(309, False)
(310, False)
(311, False)
(312, False)
(313, False)
(314, False)
(315, False)
(316, False)
(317, False)
(318, False)
(319, False)
(320, False)
(321, False)
(322, False)
(323, False)
(324, False)
(325, False)
(326, False)
(327, False)
(328, False)
(329, False)
(330, False)
(331, False)
(332, True)
(333, True)
(334, False)
(335, False)
(336, False)
(337, False)
(338, False)
(339, False)
(340, False)
(341, False)
(342, False)
(343, False)
(344, False)
(345, False)
(346, False)
(347, False)
(348, False)
(349, False)
(350, False)
(351, False)
(352, False)
(353, False)
(354, False)
(355, False)
(356, False)
(357, False)
(358, False)
(359, False)
(360, False)
(361, False)
(362, False)
(363, True)
(364, False)
(365, True)
(366, False)
(367, False)
(368, False)
(369, False)
(370, False)
(371, False)
(372, False)
(373, False)
(374, False)
(375, False)
(376, False)
(377, False)
(378, False)
(379, False)
(380, False)
(381, False)
(382, False)
(383, False)
(384, False)
(385, False)
(386, False)
(387, False)
(388, False)
(389, True)
(390, False)
(391, True)
(392, False)
(393, False)
(394, False)
(395, False)
(396, False)
(397, False)
(398, False)
(399, False)
(400, False)
(401, False)
(402, False)
(403, False)
(404, False)
(405, True)
(406, False)
(407, True)
(408, False)
(409, False)
(410, False)
(411, False)
(412, False)
(413, False)
(414, False)
(415, False)
(416, False)
(417, False)
(418, False)
(419, False)
(420, False)
(421, False)
(422, False)
(423, False)
(424, True)
(425, False)
(426, False)
(427, False)
(428, False)
(429, False)
(430, False)
(431, False)
(432, False)
(433, True)
(434, False)
(435, True)
(436, False)
(437, False)
(438, False)
(439, False)
(440, False)
(441, False)
(442, False)
(443, False)
(444, False)
(445, False)
(446, True)
(447, False)
(448, False)
(449, False)
(450, False)
(451, False)
(452, False)
(453, False)
(454, False)
(455, False)
(456, False)
(457, False)
(458, False)
(459, False)
(460, True)
(461, False)
(462, True)
(463, False)
(464, False)
(465, False)
(466, False)
(467, False)
(468, False)
(469, False)
(470, False)
(471, True)
(472, False)
(473, False)
(474, False)
(475, False)
(476, False)
(477, False)
(478, False)
(479, False)
(480, False)
(481, False)
(482, False)
(483, False)
(484, False)
(485, False)
(486, True)
(487, False)
(488, False)
(489, False)
(490, False)
(491, False)
(492, False)
(493, True)
(494, False)
(495, False)
(496, False)
(497, False)
(498, False)
(499, False)
(500, False)
(501, False)
(502, False)
(503, False)
(504, False)
(505, False)
(506, False)
(507, False)
(508, False)
(509, False)
(510, False)
(511, False)
(512, False)
(513, False)
(514, False)
(515, False)
(516, False)
(517, False)
(518, False)
(519, False)
(520, False)
(521, False)
(522, False)
(523, False)
(524, False)
(525, False)
(526, False)
(527, False)
(528, False)
(529, False)
(530, False)
(531, False)
(532, True)
(533, False)
(534, False)
(535, False)
(536, False)
(537, False)
(538, False)
(539, False)
(540, False)
(541, False)
(542, False)
(543, False)
(544, False)
(545, False)
(546, False)
(547, False)
(548, False)
(549, False)
(550, False)
(551, False)
(552, False)
(553, False)
(554, False)
(555, False)
(556, False)
(557, False)
(558, False)
(559, False)
(560, False)
(561, False)
(562, True)
(563, False)
(564, False)
(565, False)
(566, False)
(567, False)
(568, False)
(569, False)
(570, False)
(571, False)
(572, False)
(573, False)
(574, False)
(575, False)
(576, False)
(577, False)
(578, False)
(579, False)
(580, False)
(581, False)
(582, False)
(583, False)
(584, False)
(585, False)
(586, False)
(587, False)
(588, False)
(589, False)
(590, True)
(591, False)
(592, False)
(593, False)
(594, False)
(595, False)
(596, False)
(597, False)
(598, False)
(599, False)
(600, False)
(601, False)
(602, False)
(603, False)
(604, False)
(605, False)
(606, False)
(607, False)
(608, False)
(609, False)
(610, False)
(611, True)
(612, False)
(613, False)
(614, False)
(615, False)
(616, False)
(617, False)
(618, False)
(619, False)
(620, False)
(621, False)
(622, False)
(623, False)
(624, False)
(625, False)
(626, False)
(627, False)
(628, False)
(629, False)
(630, False)
(631, False)
(632, False)
(633, False)
(634, False)
(635, False)
(636, False)
(637, False)
(638, False)
(639, False)
(640, False)
(641, False)
(642, False)
(643, False)
(644, False)
(645, False)
(646, False)
(647, False)
(648, False)
(649, False)
(650, False)
(651, False)
(652, False)
(653, False)
(654, False)
(655, False)
(656, False)
(657, False)
(658, False)
(659, False)
(660, False)
(661, False)
(662, False)
(663, True)
(664, False)
(665, False)
(666, False)
(667, False)
(668, False)
(669, False)
(670, False)
(671, False)
(672, False)
(673, False)
(674, False)
(675, False)
(676, False)
(677, False)
(678, True)
(679, False)
(680, True)
(681, False)
(682, True)
(683, False)
(684, True)
(685, False)
(686, True)
(687, False)
(688, False)
(689, False)
(690, False)
(691, True)
(692, False)
(693, False)
(694, False)
(695, True)
(696, False)
(697, False)
(698, False)
(699, False)
(700, False)
(701, True)
(702, False)
(703, False)
(704, False)
(705, False)
(706, False)
(707, False)
(708, False)
(709, False)
(710, False)
(711, False)
(712, False)
(713, False)
(714, False)
(715, False)
(716, False)
(717, False)
(718, False)
(719, False)
(720, False)
(721, False)
(722, False)
(723, False)
(724, False)
(725, False)
(726, False)
(727, False)
(728, False)
(729, False)
(730, False)
(731, False)
(732, False)
(733, False)
(734, False)
(735, False)
(736, False)
(737, False)
(738, False)
(739, False)
(740, False)
(741, False)
(742, False)
(743, False)
(744, False)
(745, False)
(746, False)
(747, False)
(748, False)
(749, False)
(750, False)
(751, False)
(752, False)
(753, False)
(754, False)
(755, False)
(756, False)
(757, False)
(758, False)
(759, False)
(760, False)
(761, False)
(762, False)
(763, False)
(764, False)
(765, False)
(766, False)
(767, False)
(768, False)
(769, False)
(770, False)
(771, False)
(772, False)
(773, False)
(774, False)
(775, False)
(776, False)
(777, False)
(778, False)
(779, False)
(780, False)
(781, False)
(782, False)
(783, False)
(784, False)
(785, False)
(786, False)
(787, False)
(788, False)
(789, False)
(790, False)
(791, False)
(792, False)
(793, False)
(794, False)
(795, False)
(796, False)
(797, False)
(798, False)
(799, False)
(800, False)
(801, False)
(802, False)
(803, False)
(804, False)
(805, False)
(806, False)
(807, False)
(808, False)
(809, False)
(810, False)
(811, False)
(812, False)
(813, False)
(814, False)
(815, False)
(816, False)
(817, False)
(818, False)
(819, False)
(820, False)
(821, False)
(822, False)
(823, False)
(824, True)
(825, False)
(826, False)
(827, False)
(828, False)
(829, False)
(830, True)
(831, False)
(832, False)
(833, False)
(834, False)
(835, False)
(836, True)
(837, False)
(838, False)
(839, False)
(840, False)
(841, False)
(842, False)
(843, False)
(844, False)
(845, False)
(846, False)
(847, False)
(848, False)
(849, False)
(850, False)
(851, False)
(852, False)
(853, False)
(854, False)
(855, False)
(856, False)
(857, False)
(858, False)
(859, False)
(860, False)
(861, False)
(862, False)
(863, False)
(864, False)
(865, False)
(866, False)
(867, False)
(868, False)
(869, False)
(870, False)
(871, False)
(872, False)
(873, False)
(874, False)
(875, False)
(876, False)
(877, False)
(878, False)
(879, False)
(880, False)
(881, False)
(882, False)
(883, False)
(884, False)
(885, True)
(886, False)
(887, False)
(888, False)
(889, False)
(890, False)
(891, False)
(892, False)
(893, False)
(894, False)
(895, False)
(896, False)
(897, False)
(898, False)
(899, False)
(900, False)
(901, False)
(902, False)
(903, False)
(904, False)
(905, False)
(906, True)
(907, False)
(908, True)
(909, False)
(910, False)
(911, False)
(912, False)
(913, False)
(914, False)
(915, False)
(916, False)
(917, False)
(918, False)
(919, False)
(920, True)
(921, False)
(922, True)
(923, False)
(924, False)
(925, False)
(926, False)
(927, False)
(928, False)
(929, False)
(930, False)
(931, False)
(932, False)
(933, False)
(934, False)
(935, False)
(936, False)
(937, False)
(938, False)
(939, False)
(940, False)
(941, False)
(942, False)
(943, False)
(944, False)
(945, False)
(946, False)
(947, False)
(948, False)
(949, False)
(950, False)
(951, False)
(952, False)
(953, False)
(954, False)
(955, False)
(956, False)
(957, False)
(958, False)
(959, False)
(960, False)
(961, False)
(962, False)
(963, False)
(964, True)
(965, False)
(966, False)
(967, False)
(968, True)
(969, False)
(970, True)
(971, False)
(972, True)
(973, False)
(974, False)
(975, False)
(976, True)
(977, False)
(978, False)
(979, False)
(980, True)
(981, False)
(982, False)
(983, False)
(984, False)
(985, False)
(986, False)
(987, False)
(988, False)
(989, False)
(990, False)
(991, False)
(992, False)
(993, False)
(994, False)
(995, False)
(996, False)
(997, False)
(998, True)
(999, False)
(1000, False)
(1001, False)
(1002, True)
(1003, False)
(1004, False)
(1005, False)
(1006, False)
(1007, False)
(1008, False)
(1009, False)
(1010, False)
(1011, False)
(1012, False)
(1013, True)
(1014, False)
(1015, True)
(1016, False)
(1017, False)
(1018, False)
(1019, False)
(1020, False)
(1021, False)
(1022, True)
(1023, False)
(1024, True)
(1025, False)
(1026, False)
(1027, False)
(1028, False)
(1029, True)
(1030, False)
(1031, False)
(1032, False)
(1033, False)
(1034, False)
(1035, False)
(1036, True)
(1037, False)
(1038, False)
(1039, False)
(1040, False)
(1041, False)
(1042, False)
(1043, False)
(1044, False)
(1045, False)
(1046, False)
(1047, False)
(1048, False)
(1049, False)
(1050, False)
(1051, False)
(1052, False)
(1053, True)
(1054, False)
(1055, False)
(1056, False)
(1057, False)
(1058, False)
(1059, False)
(1060, False)
(1061, False)
(1062, False)
(1063, False)
(1064, False)
(1065, False)
(1066, False)
(1067, False)
(1068, False)
(1069, False)
(1070, False)
(1071, False)
(1072, False)
(1073, False)
(1074, False)
(1075, False)
(1076, False)
(1077, False)
(1078, False)
(1079, True)
(1080, False)
(1081, False)
(1082, False)
(1083, True)
(1084, False)
(1085, True)
(1086, False)
(1087, False)
(1088, False)
(1089, False)
(1090, False)
(1091, False)
(1092, False)
(1093, False)
(1094, False)
(1095, False)
(1096, False)
(1097, False)
(1098, False)
(1099, False)
(1100, False)
(1101, False)
(1102, False)
(1103, False)
(1104, False)
(1105, False)
(1106, False)
(1107, False)
(1108, False)
(1109, False)
(1110, False)
(1111, False)
(1112, False)
(1113, False)
(1114, True)
(1115, False)
(1116, False)
(1117, False)
(1118, False)
(1119, False)
(1120, False)
(1121, False)
(1122, False)
(1123, False)
(1124, True)
(1125, False)
(1126, False)
(1127, False)
(1128, False)
(1129, False)
(1130, False)
(1131, False)
(1132, False)
(1133, False)
(1134, False)
(1135, False)
(1136, False)
(1137, False)
(1138, False)
(1139, False)
(1140, False)
(1141, False)
(1142, False)
(1143, False)
(1144, False)
(1145, False)
(1146, False)
(1147, False)
(1148, False)
(1149, False)
(1150, False)
(1151, False)
(1152, False)
(1153, False)
(1154, False)
(1155, False)
(1156, False)
(1157, False)
(1158, False)
(1159, False)
(1160, False)
(1161, False)
(1162, False)
(1163, False)
(1164, False)
(1165, False)
(1166, False)
(1167, False)
(1168, False)
(1169, False)
(1170, False)
(1171, False)
(1172, False)
(1173, False)
(1174, False)
(1175, False)
(1176, False)
(1177, False)
(1178, True)
(1179, False)
(1180, False)
(1181, False)
(1182, False)
(1183, False)
(1184, False)
(1185, False)
(1186, False)
(1187, False)
(1188, False)
(1189, False)
(1190, False)
(1191, False)
(1192, False)
(1193, False)
(1194, False)
(1195, False)
(1196, False)
(1197, False)
(1198, False)
(1199, False)
(1200, False)
(1201, False)
(1202, False)
(1203, True)
(1204, False)
(1205, False)
(1206, False)
(1207, False)
(1208, False)
(1209, False)
(1210, False)
(1211, False)
(1212, False)
(1213, False)
(1214, False)
(1215, False)
(1216, False)
(1217, False)
(1218, False)
(1219, False)
(1220, False)
(1221, False)
(1222, False)
(1223, False)
(1224, True)
(1225, False)
(1226, False)
(1227, False)
(1228, False)
(1229, False)
(1230, False)
(1231, False)
(1232, False)
(1233, False)
(1234, False)
(1235, False)
(1236, False)
(1237, False)
(1238, True)
(1239, False)
(1240, True)
(1241, False)
(1242, True)
(1243, False)
(1244, True)
(1245, False)
(1246, False)
(1247, False)
(1248, False)
(1249, False)
(1250, False)
(1251, False)
(1252, False)
(1253, False)
(1254, False)
(1255, False)
(1256, False)
(1257, False)
(1258, True)
(1259, False)
(1260, False)
(1261, False)
(1262, False)
(1263, False)
(1264, False)
(1265, False)
(1266, False)
(1267, False)
(1268, True)
(1269, False)
(1270, False)
(1271, False)
(1272, False)
(1273, False)
(1274, False)
(1275, False)
(1276, False)
(1277, True)
(1278, False)
(1279, False)
(1280, False)
(1281, False)
(1282, False)
(1283, False)
(1284, False)
(1285, False)
(1286, False)
(1287, False)
(1288, False)
(1289, False)
(1290, False)
(1291, False)
(1292, False)
(1293, False)
(1294, False)
(1295, False)
(1296, False)
(1297, False)
(1298, False)
(1299, False)
(1300, False)
(1301, False)
(1302, False)
(1303, False)
(1304, False)
(1305, False)
(1306, False)
(1307, False)
(1308, False)
(1309, False)
(1310, False)
(1311, False)
(1312, False)
(1313, False)
(1314, False)
(1315, False)
(1316, False)
(1317, False)
(1318, False)
(1319, True)
(1320, False)
(1321, False)
(1322, False)
(1323, False)
(1324, False)
(1325, False)
(1326, False)
(1327, False)
(1328, False)
(1329, True)
(1330, False)
(1331, True)
(1332, False)
(1333, False)
(1334, False)
(1335, False)
(1336, False)
(1337, False)
(1338, False)
(1339, False)
(1340, False)
(1341, False)
(1342, False)
(1343, False)
(1344, False)
(1345, False)
(1346, False)
(1347, False)
(1348, False)
(1349, False)
(1350, False)
(1351, True)
(1352, False)
(1353, False)
(1354, False)
(1355, False)
(1356, False)
(1357, False)
(1358, True)
(1359, False)
(1360, True)
(1361, False)
(1362, False)
(1363, False)
(1364, False)
(1365, False)
(1366, False)
(1367, False)
(1368, False)
(1369, False)
(1370, False)
(1371, False)
(1372, False)
(1373, False)
(1374, False)
(1375, False)
(1376, False)
(1377, False)
(1378, False)
(1379, False)
(1380, False)
(1381, False)
(1382, False)
(1383, False)
(1384, False)
(1385, False)
(1386, False)
(1387, False)
(1388, False)
(1389, False)
(1390, False)
(1391, False)
(1392, False)
(1393, False)
(1394, False)
(1395, False)
(1396, False)
(1397, False)
(1398, False)
(1399, False)
(1400, False)
(1401, False)
(1402, False)
(1403, False)
(1404, False)
(1405, False)
(1406, False)
(1407, False)
(1408, False)
(1409, False)
(1410, False)
(1411, False)
(1412, False)
(1413, False)
(1414, True)
(1415, False)
(1416, False)
(1417, False)
(1418, False)
(1419, False)
(1420, False)
(1421, False)
(1422, True)
(1423, False)
(1424, True)
(1425, False)
(1426, False)
(1427, False)
(1428, False)
(1429, False)
(1430, True)
(1431, False)
(1432, False)
(1433, False)
(1434, False)
(1435, False)
(1436, False)
(1437, True)
(1438, False)
(1439, True)
(1440, False)
(1441, False)
(1442, False)
(1443, False)
(1444, False)
(1445, False)
(1446, False)
(1447, False)
(1448, False)
(1449, False)
(1450, False)
(1451, False)
(1452, False)
(1453, False)
(1454, False)
(1455, False)
(1456, False)
(1457, True)
(1458, False)
(1459, False)
(1460, False)
(1461, False)
(1462, False)
(1463, False)
(1464, False)
(1465, False)
(1466, False)
(1467, False)
(1468, False)
(1469, False)
(1470, False)
(1471, False)
(1472, False)
(1473, False)
(1474, False)
(1475, False)
(1476, False)
(1477, True)
(1478, False)
(1479, False)
(1480, False)
(1481, True)
(1482, False)
(1483, True)
(1484, False)
(1485, False)
(1486, False)
(1487, False)
(1488, False)
(1489, False)
(1490, False)
(1491, True)
(1492, False)
(1493, False)
(1494, False)
(1495, False)
(1496, False)
(1497, False)
(1498, False)